/* @file: styles/components/map/map.css */
/* @version: 1.1 — simplified “small markers” rule */

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-00);
}

#map.small-markers .leaflet-marker-icon {
  transform: scale(var(--marker-small-scale));
  transform-origin: center center;
}
