/* @file: styles/preview/itemPreview.css */
/* @version: 1.1 — replace hard-coded colors with theme variables */

.item-preview-panel {
  background-color: var(--surface-preview-bg);
  background-image: url("https://res.cloudinary.com/dtty7zxjh/image/upload/v1746912874/itemPreview_m2cbbg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
