/* @file: styles/components/modal/definition/scroll.css */
/* @version: 1.1 — helper to allow left-pane flex scrolling */

.modal--definition #definition-left-pane {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}
