/* Context Menu */
#context-menu {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
  background: #333 !important;
  color: #eee !important;
  border: 1px solid #555 !important;
}
#context-menu div:hover {
  background-color: #555 !important;
}
